.python-lab-context {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.python-lab-donation {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.python-lab-donate-button {
  margin: 10px;
}
