.python-lab-title {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.python-lab-text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.python-lab-error {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: red;
}
